<div class="container">
  <div class="row">
    <div class="col-md-4">

      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{firstName}} {{lastName}}</h5>
          <p class="card-text">on {{date}} from {{country}}</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">First name : {{firstName}}</li>
          <li class="list-group-item">Last name : {{lastName}}</li>
          <li class="list-group-item">Date : {{date}}</li>
          <li class="list-group-item">Country : {{country}}</li>
        </ul>
        <div class="card-body">
          <a href="/" class="card-link">Back</a>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <embed src="/resources/cv.pdf" type="application/pdf" width="100%" height="600px" />
    </div>
  </div>
</div>
