<div class="container">
  <form action="cvpagesanitize" id="form">
    <div class="form-group">
      <label for="firstName">First name</label>
      <input type="text" class="form-control" name="firstName" id="firstName" aria-describedby="firstNameHelp" placeholder="First name" pattern="([a-zA-Z]{6,})" required>
      <small id="firstNameHelp" class="form-text text-muted">Your first name</small>
    </div>

    <div class="form-group">
      <label for="lastName">Last name</label>
      <input type="text" class="form-control" name="lastName" id="lastName" aria-describedby="lastNameHelp" placeholder="Last name" value="Erdfalvi">
      <small id="lastNameHelp" class="form-text text-muted">Your last name</small>
      <div class="alert alert-danger" id="errors_lastName"></div>
    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" class="form-control" name="email" id="email" aria-describedby="emailHelp" placeholder="foo@bar.baz">
      <small id="emailHelp" class="form-text text-muted">Your email address</small>
    </div>

    <div class="form-group">
      <label for="country">Country</label>
      <input type="text" id="country" name="country" class="form-control">
    </div>

    <div class="form-group">
      <label>Select Date: </label>
      <div id="datepicker" class="input-group date" data-date-format="mm-dd-yyyy">
          <input class="form-control" type="text" name="date" readonly />
          <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
<script>
  $(function () {
    $("#datepicker").datepicker({
        autoclose: true,
        todayHighlight: true
    }).datepicker('update', new Date());
  });
  var countryOptions = {
      defaultCountry:"HU",
      responsiveDropdown:true
  };
  $("#country").countrySelect(countryOptions);

  $(function() {
    $("#errors_lastName").hide();
    var url_string = window.location.href;
    var url = new URL(url_string);
    var errorMsg = url.searchParams.get("error");
    if (errorMsg != null ){
      $("#errors_lastName").html(errorMsg);
      $("#errors_lastName").show();
    }
  });

</script>
